<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: 'You sure?' },
                                     title: micropost.content %>
  <% end %>
	<% unless current_user?(@user) %>
	  <div id="attend_form">
	  <% if current_user.attend?(micropost) %>
			<%= form_for(micropost.reverse_memberships.find_by_member_of_id(micropost),
			             html: { method: :delete },
			             ) do |f| %>
			  <%= f.submit "Miss", class: "btn btn-large" %>
			<% end %>
	  <% else %>
		  <%= form_for(micropost.reverse_memberships.build(member_of_id: micropost.id),
			             ) do |f| %>
			  <div><%= f.hidden_field :member_of_id %></div>
			  <%= f.submit "Attend", class: "btn btn-large btn-primary" %>
			<% end %> 
	  <% end %>
	  </div>
	<% end %>

</li>